@import '../../helpers/mixin.scss';

.bgi-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // align-content: center;
  flex-direction: column;

  position: absolute;
  width: 0;
  height: 0;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
  transition: height 1s ease-in;

  @include onDesktop1280x720 {
    transform: scale(1.2);
  }

  &__header {
    margin: 6px 6px 0px;
    text-wrap: nowrap;
    padding: 0 2px 0;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    opacity: 1;
    // transition: color 0.2s;

    line-height: 20px;
    letter-spacing: 2px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 1px;
      background-color: rgb(9, 9, 9);
      transform: scaleX(0);
      transform-origin: 0 100%;
      transition: transform 0.5s;
    }

    &:hover::after,
    &.is-visible::after {
      transform: scaleX(1);
    }
  }


  &__items {
    max-height: 1px;
    overflow-y: hidden;
    // opacity: 0;
    transition: max-height 1.5s ease;
    // transition-delay: 300ms;

    &.is-visible {
      max-height: 100vh;
      // opacity: 1;
      transition: max-height 1.5s ease;
      // transition-delay: 300ms;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    margin: 6px 6px 6px;
    // text-wrap: nowrap;
    list-style: none;
    transition: color 0.3s;

    // gap: 2px;

    &:hover {
      transition: color 0.3s;
      color: rgb(188, 188, 188);
    }

    &.is-active {
      transition: color 0.3s;

      color: rgb(212, 0, 0);
    }

    // @include onTablet1024x786 {
    //   margin: 6px 9px 0px;
    // }

    // @include onDesktop1280x720 {
    //   margin: 7px 9px 1px;
    // }

    // @include onDesktop1440x900 {
    //   margin: 8px 9px 1px;
    // }
  }

  &__label {
    font-size: 15px;
    margin: 4px 4px 4px;
    cursor: pointer;
  }
}

.show-menu .bgi-menu {
  // top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: height 1s ease-in;

  // .bgi-menu__header,
  // .bgi-menu__label {
  // }
}

// .bgi-menu.is-closed {
//   // display: none;
//   width: 0;
//   height: 0;
//   opacity: 0;
//   transition: height 1s ease-in;
//   transition-delay: 500ms;
// }