@import '../../helpers/mixin.scss';

.bgi-menu {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  // text-align: center;
  align-content: center;
  flex-direction: column;

  width: 100wh;
  // height: 100vh;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;

  @include onDesktop1280x720 {
    transform: scale(1.2);
  }

  &__top-bar__close {
    // position: absolute;
    top: -24vh;
    left: -12vw;
    height: 20px;
    width: 100%;
    bottom: 0;

    @include onDesktop1280x720 {
    }

    &--button {
      position: absolute;
      top: 4vh;
      right: 7.5vw; 
      height: 20px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }

      @include onPhone414x736 {
        top: 3.5vh;
        right: 7vw; 
      }

      @include onPhone414x896 {
        top: 3vh;
      }

      @include onTablet1024x786 {
        top: 2.5vh;
        right: 3.5vw; 
        height: 30px;
        width: 30px;
      }

      @include onDesktop1280x720 {
        position: relative;
        left: 14vw; 
        top: -24vh;
        height: 25px;
        width: 25px;
      }

      @include onDesktop1366x768 {
        left: 14vw; 
        top: -24vh;
      }
      
      @include onDesktop1440x900 {
        left: 11vw; 
        top: -27vh;
      }
      @include onDesktop1920x1080 {
        left: 14.5vw; 
        top: -25.5vh;
        height: 30px;
        width: 30px;
      }
    }
  }

  &__open {
    // top: 0px;
    position: fixed;
    width: 100vw;
    height: var(--bgi-menu__open-height);
    overflow: hidden;
    opacity: 1;
    transition: height .8s ease-in;
  }

  &__closed {
    height: 0;
    width: 100vw;
    transition: height .8s ease-in;
  }

  &__header {
    margin: 6px 6px 0px;
    text-wrap: nowrap;
    padding: 0 2px 0;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    opacity: 1;

    line-height: 20px;
    letter-spacing: 2px;
    position: relative;

    @include onTablet1024x786 {
      font-size: 26px;
      margin: 35px 0px 35px;
    }

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 1px;
      background-color: rgb(9, 9, 9);
      transform: scaleX(0);
      transform-origin: 0 100%;
      transition: transform 0.5s;
    }

    &:hover::after,
    &.is-visible::after {
      transform: scaleX(1);
    }
  }

  &__items {
    max-height: 1px;
    overflow-y: hidden;
    transition: max-height 1.5s ease;

    &.is-visible {
      max-height: 100vh;
      transition: max-height 1.5s ease;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    margin: 6px 6px 6px;
    list-style: none;
    transition: color 0.3s;

    &:hover {
      transition: color 0.3s;
      color: rgb(188, 188, 188);
    }

    &.is-active {
      transition: color 0.3s;
      color: rgb(212, 0, 0);
    }
  }

  &__label {
    font-size: 15px;
    margin: 4px 4px 4px;
    cursor: pointer;

    @include onTablet1024x786 {
      font-size: 22px;
      margin: 8px 0px 5px;

    }
  }
}