.topbar {
  position: fixed;
  display: flex; 
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;

  left: 0;
  width: 100%;
  padding: 10px;
  padding-left: 50px;

  font-family: 'Coarse Rounded', sans-serif;  
  background-color: #aa937d;
  font-weight: 1000;
  color: #2b1500;
  z-index: 9;
  font-size: 18px;
  text-align: center;
  -webkit-box-shadow: 0 -8px 6px -6px rgb(110, 76, 47);
  -moz-box-shadow: 0 -8px 6px -6px rgb(110, 76, 47);
  box-shadow: 0 -8px 6px -6px rgb(110, 76, 47);
  transition: left 3s, opacity 2s;
  opacity: 0.92;

  &.hidden {
    left: -1200px;
    opacity: 0;
  }
}

.arrow {
  position: relative;
  width: 40px;
  height: 30px;
  transition: .3s ease-in-out;
  margin-left: 20px;
  animation: pulse 1s infinite alternate;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
