@import '../../helpers/mixin.scss';

.main {
  height: 100vh;
  overflow-x: auto;
  scroll-behavior: smooth;

  &.locked-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Задній фон стає напівпрозорим для підсвітки блокування */
    z-index: 9999; /* Це значення z-index може бути налаштовано відповідно до вашого дизайну */
  }
}

.container {
  position: relative;
  display: flex;
  // justify-content: center;
  //DONT TOUCH IT!!!!!!
  //makes coordinates on mobile *****
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  // height: 100vh;

  // max-width: 100%;
  min-width: 1025px;
  overflow-x: auto;
  opacity: 0;
  transition: opacity 3s ease-in;

  // @include onDesktop1280x720 {
  //   justify-content: center;
  // }

  // background-size: contain;
  // background-position: top;
  // background-repeat: no-repeat;

  @include onDesktop1280x720 {
    justify-content: center;
  }

  &.show-image {
    opacity: 1;
    transition: opacity 4s ease-in;
    // background-image: url(../../../public/images/IMG_2204.jpg);
    // opacity: 1;
  }

  &.show-menu {
    min-width: 100vw;
    overflow: auto;
    // justify-content: center;
    // background-image: none;
    
  }
}


.image {
  // position: relative;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;

  box-sizing: border-box;

  opacity: 1;
  overflow-x: auto;
  min-width: 1025px;
  transition: opacity 3s ease;

  &.show-image {
    opacity: 1;
    transition: opacity 2s ease-in;
  }

  @include onPhone360x780 {
    min-width: 1252px;
  }

  @include onPhone375x667 {
    min-width: 1070px;
  }

  @include onPhone375x812 {
    min-width: 1300px;
  }

  @include onPhone414x736 {
    min-width: 1180px;
  }

  @include onPhone414x896 {
    min-width: 1440px;
  }

  @include onTablet1024x786 {
    min-width: 1640px;
  }

  @include onDesktop1280x720 {
    height: 100vh;
  }
}

.burger-button {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  // text-align: center;
  // align-content: center;
  font-size: 25px;

  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;

  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 5px;
  cursor: pointer;
  z-index: 4;
  transform: scale(1);
  transition: transform .5s ease-in;

  // &:hover
  // ,
  &.is-active {
    transform: scale(1.5);
    transition: transform .6s ease-in;
  }

  @include onPhone360x780 {
    height: 30px;
    width: 30px;
  }

  // @include onPhone375x667 {
  //   top: 10px;
  //   right: 42px;
  // }

  // @include onPhone375x812 {
  //   top: 10px;
  //   right: 114px;
  // }

  @include onPhone414x736 {
    height: 30px;
    width: 30px;
  }

  @include onPhone414x896 {
    height: 35px;
    width: 35px;
  }

  @include onTablet1024x786 {
    top: 35px;
    right: 35px;
    height: 40px;
    width: 40px;
    font-size: 14px;
  }

  @include onDesktop1280x720 {
    top: 20px;
    right: 85px;
    height: 25px;
    width: 25px;
    transition: transform .3s ease-in;

    &:hover, &.is-active {
      transform: scale(1.15);
      transition: transform .3s ease-in;
    }
  }

  @include onDesktop1366x768 {
    top: 22px;
    right: 90px;
    height: 30px;
    width: 30px;

  }

  @include onDesktop1440x900 {
    top: 29px;
    right: 32px;
    height: 32px;
    width: 32px;
  }

  @include onDesktop1920x1080 {
    top: 32px;
    right: 125px;
    height: 35px;
    width: 35px;
    font-size: 24px;
  }

  &.is-active {
    border: 0px;
    content: "";
  }
}