@import '../../helpers/mixin.scss';

.image {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  box-sizing: border-box;
  height: 100vh;

  overflow-x: auto;

  min-width: 1025px;

  @include onPhone360x780 {
    min-width: 1252px;
  }

  @include onPhone375x667 {
    min-width: 1070px;
  }
  @include onPhone375x812 {
    min-width: 1300px;
  }
  @include onPhone414x736 {
  min-width: 1180px;
  }
  @include onPhone414x896 {
    min-width: 1440px;
  }

  @include onTablet1024x786 {
    min-width: 1640px;
  }
  @include onDesktop1280x720 {
  }
}

.container {
  position: relative;
  display: flex;

  // justify-content: center;
  //DONT TOUCH IT!!!!!!

  align-items: center;
  box-sizing: border-box;
  height: 100vh;

  // max-width: 100%;
  // min-width: 1025px;

  @include onTablet1024x786 {
    // min-width: 1640px;
  }
  @include onDesktop1280x720 {
  justify-content: center;
}

  &.show-menu {
    min-width: 100vw;
    overflow: hidden;
    // background-image: none;
  }

  overflow-x: auto;
  opacity: 0;
  transition: background-image 1s ease-in, opacity 5s ease-in;

  &.show-image {
    opacity: 1;
  }
}

.main {
  height: 100vh;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.burger-button {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  // text-align: center;
  // align-content: center;
  font-size: 25px;

  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;

  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 5px;
  cursor: pointer;
  z-index: 3;
  transition: height 1s, width 1s, transform 0.2s;

  &:hover, &.is-active {
    height: 25px;
    width: 25px;
  }

  // @include onPhone360x780 {
  //   top: 10px;
  //   right: 110px;
  // }

  // @include onPhone375x667 {
  //   top: 10px;
  //   right: 42px;
  // }

  // @include onPhone375x812 {
  //   top: 10px;
  //   right: 114px;
  // }

  // @include onPhone414x736 {
  //   top: 11px;
  //   right: 47px;
  // }

  // @include onPhone414x896 {
  //   top: 12px;
  //   right: 128px;
  // }

  // @include onTablet1024x786 {
  //   top: 85px;
  //   right: 20px;
  //   height: 20px;
  //   width: 30px;
  //   font-size: 14px;
  // }

  // @include onDesktop1280x720 {
  //   top: 20px;
  //   right: 82px;
  //   height: 25px;
  //   width: 40px;
  //   font-size: 16px;
  // }

  // @include onDesktop1366x768 {
  //   top: 22px;
  //   right: 87px;
  //   font-size: 18px;
  // }

  // @include onDesktop1440x900 {
  //   top: 29px;
  //   right: 32px;
  //   height: 27px;
  //   width: 45px;
  //   font-size: 20px;
  // }

  // @include onDesktop1920x1080 {
  //   top: 32px;
  //   right: 125px;
  //   height: 35px;
  //   width: 58px;
  //   font-size: 24px;
  // }

  &.is-active {
    border: 0px;
    content: "";
  }
}