@import '../../helpers/mixin.scss';

.main {
  height: 100vh;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  display: flex;
  // justify-content: center;
  //DONT TOUCH IT!!!!!!
  //makes coordinates on mobile *****
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  // height: 100vh;

  // max-width: 100%;
  min-width: 1025px;
  // overflow-x: auto;
  //NEEDS TO BE TESTED
  opacity: 0;
  transition: opacity 3s ease-in-out;

  @include onPhone414x896 {
    width: 414px;
    height: 896px;
  }

  @include onTablet1024x786 {
    width: 786px;
    height: 1024px;
  }

  @include onDesktop1280x720 {
    justify-content: center;
    width: 1280px;
    height: 720px;
  }

  @include onDesktop1366x768 {
    width: 1366px;
    height: 768px;
  }

  @include onDesktop1440x900 {
    width: 1440px;
    height: 900px;
  }

  @include onDesktop1920x1080 {
    width: 1920px;
    height: 1080px;
  }

  &.show-image {
    
    overflow-x: auto;
    // position: fixed;
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }

  &.show-menu {
    // min-width: 100vw;
    //DONT TOUCH IT!!!
    overflow: auto;
    // justify-content: center;
    // background-image: none;

  }
}


.image {
  // position: relative;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  opacity: 1;
  overflow-x: auto;
  min-width: 1025px;
  transition: opacity 3s ease;

  &.show-image {
    opacity: 1;
    transition: opacity 2s ease-in;
  }

  @include onPhone360x780 {
    min-width: 1252px;
  }

  @include onPhone375x667 {
    min-width: 1070px;
  }

  @include onPhone375x812 {
    min-width: 1300px;
  }

  @include onPhone414x736 {
    min-width: 1180px;
  }

  @include onPhone414x896 {
    min-width: 1440px;
  }

  @include onTablet1024x786 {
    min-width: 1640px;
    height: 1024px;
  }

  @include onDesktop1280x720 {
    // height: 100vh;
    min-width: 1154px;
    height: 720px;
  }

  @include onDesktop1366x768 {
    min-width: 1231px;
    height: 768px;
  }

  @include onDesktop1440x900 {
    min-width: 1440px;
    height: 900px;
  }

  @include onDesktop1920x1080 {
    min-width: 1731px;
    height: 1080px;
  }
}

.burger-button {
  display: flex;
  position: fixed;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // align-content: center;
  font-size: 25px;

  top: 20px;
  right: 20px;
  height: 35px;
  width: 35px;

  background-color: #ffffff;
  border: 0.5px solid #000000;
  padding: 5px 5px;
  cursor: pointer;
  z-index: 2;

  &.is-active {
    z-index: 0;
  }

  @include onTablet1024x786 {
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    font-size: 14px;
  }

  @include onDesktop1280x720 {
    top: 3vh;
    left: 7vw;

    transition: transform .3s ease-in;

    &:hover,
    &.is-active {
      transform: scale(1.15);
      transition: transform .3s ease-in;
    }
  }

  @include onDesktop1366x768 {
    height: 35px;
    width: 35px;
  }

  @include onDesktop1440x900 {
    left: 3vw;
    height: 40px;
    width: 40px;
  }

  @include onDesktop1920x1080 {
    left: 7vw;
    height: 45px;
    width: 45px;
  }

  &.is-active {
    border: 0px;
    content: "";
  }
}