.preload-container {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  $images: (
    "IMG_2204.JPG": "origin",
    "IMG_2204_b&w.png": "raw",
    "IMG_2204_glow.png": "glow"
  );

  @each $image, $type in $images {
    .preload-image-#{$type} {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../../../public/images/#{$image});
    }
  }
}