@import '../../helpers/mixin.scss';

$heightChromeMobile: 85vh;
$heightSafariMobile: 90vh;
$defaultHeight: 100vh;

.opening {
  position: relative;

  display: flex;
  justify-content: center;
  text-align: center;
  height: $defaultHeight;
  background-image: url(../../../public/images/main_upgrade.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250% 130%;
  animation-name: zoomInBackground, changeBackgroundImage;
  animation-duration: 7s, 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 11s;

  

  @include onPhone360x640 {
    height: $heightChromeMobile;
  }
  @include onPhone360x640-safari {
    height: $heightSafariMobile;
  }
  @include onPhone360x780 {
    background-size: 250% 110%;
  }

  @include onPhone375x667 {
    background-size: 260% 130%;
  }

  // @include onPhone375x812 {
  //   background-size: 90% 160%;
  // }

  // @include onPhone414x896 {
  //   background-size: 80% 150%;
  // }

  @include onTablet1024x786 {
    background-size: 180% 120%;
    height: $defaultHeight;
  }

  @include onDesktop1280x720 {
    background-size: 100% 150%;
    height: $defaultHeight;

  }
}

.animated-phrase {
  // font-family: "URWGroteskSCLig W03 Regular";
  font-family: "Nimbus Sans L Regular";
  font-size: 16px;
  font-weight: lighter;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;

  @include onPhone375x667 {
    font-size: 16px;
  }

  // @include onPhone375x812 {
  //   font-size: 17px;
  // }

  @include onPhone414x736 {
    font-size: 18px;
  }

  @include onTablet1024x786 {
    font-size: 24px;
  }

  @include onDesktop1280x720 {
    font-size: 22px;
  }

  @include onDesktop1920x1080 {
    font-size: 30px;
  }

  position: absolute;
  top: 49%;
  left: 50%;
  opacity: 0;
  animation: fadeInAndOut 4.5s ease-in-out forwards;
  transform: translate(-50%, -50%);
  white-space: pre;
  transition: opacity 500ms ease-in-out;

  &.last-phrase {
    font-size: 20px;
    animation: fadeInAndOut 5s ease-in-out forwards;

    @include onPhone375x667 {
      font-size: 24px;
    }
    @include onTablet1024x786 {
      font-size: 30px;
    }
    @include onDesktop1920x1080 {
      font-size: 36px;
    }
  }
}

@keyframes zoomIn {
  to {
    transform: scale(100);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.95;
  }
}

@keyframes fadeInAndOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 0.95;
  }
}

@keyframes zoomInBackground {
  to {
    background-size: 1000% 750%;
  }
}

@keyframes changeBackgroundImage {
  to {
    background-image: url(../../../public/images/bgi_black.png);
  }
}